* {
    padding: 0;
    margin: 0;

}

body {
    background: #fbfbfbdf;
}

a {
    text-decoration: none;
    color: black;
    font-weight: 500;

}

nav {
    background: rgb(255, 251, 251);
    display: grid;
    grid-template-columns: 10% 60% 10%;
    padding: 16px;
    justify-content: center;
    align-items: center;
    box-shadow: -2px 1px 10px -1px black;

    ul {
        display: flex;
        justify-content: center;

        li {
            list-style: none;
            margin: 7px;

            a {
                font-family: arial;
            }
        }
    }
}

.chop {
    color: rgba(231, 19, 224, 0.678);

}

.nou {
    color: rgba(231, 19, 224, 0.678);

}

.hero {
    display: grid;
    grid-template-columns: 50% 50%;

}

.first {
    padding: 55px;

    h1 {
        font-weight: 800;
        font-size: 4.8rem;
    }
}

button {
    color: rgba(244, 243, 244, 0.678);
    padding: 10px;
    border: none;
    margin: 35px 0;
    background: rgba(235, 24, 228, 0.579);
    transform: skew(-15deg);

}

h4 {
    text-align: center;
    position: relative;
    font-size: 2.5rem;

    span {
        color: rgba(231, 19, 224, 0.678);

    }

    &::after {
        content: "";
        background: rgb(255, 0, 238);
        height: 3px;
        position: absolute;
        top: 50%;
        right: 6%;

        width: 30%;


    }

    &::before {
        content: "";
        background: rgb(255, 0, 238);
        height: 3px;
        position: absolute;
        top: 56%;
        left: 5%;

        width: 30%;


    }
}

.Arrivage {
    margin: 20px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
transition: scale 1s ;
}
.Arrivage {
    scale: 2s;
    rotate: deg;
}

button{
    
}

.Arrivage img {
    padding: 50px;
    background: rgb(222, 203, 203);
    margin-top: 4rem;
}

h9 {
    text-align: center;
    position: relative;
    font-size: 2.5rem;

    span {
        color: rgba(231, 19, 224, 0.678);
    }
}

.produits {
    margin: 20px auto;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;

}

.produit img {
    padding: 50px;

}

h8 {
    text-align: center;
    position: relative;
    font-size: 2.5rem;

    span {
        color: rgba(231, 19, 224, 0.678);
    }
}

.avis { 
    
    text-align: center;
    font-size: 2.5rem;

    span {
        color: rgb(255, 0, 238);
    }
    
}

.ven {
    margin: 20px auto;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;



}

.ven img {
    /* display: flex;  */

    width: 150px;
    height: 150px;
    border-radius: 100px;
    align-items: center;
    justify-content: space-around;


}

.ven .DAN {
    /* text-align: center; */
    justify-content: space-between;
    align-items: center;
    background: rgb(0, 255, 200);


}
.ven{
    grid-template-columns: 30% 70% 15%;

}

.ve{
    box-shadow: -2px 1px 10px -1px black;
    align-items: center;
    text-align: center;
    padding: 10px;
}

.content{
    box-shadow: -2px 1px 10px -1px black;
    align-items: center;
    text-align: center;
    padding: 10px;
    margin: 22px;  
}

h5{
    text-align: center;
    position: relative;
    font-size: 2.5rem;

    span {
        color: rgba(231, 19, 224, 0.678);

    }

    &::after {
        content: "";
        background: rgb(255, 0, 238);
        height: 3px;
        position: absolute;
        top: 50%;
        right: 6%;

        width: 30%;


    }

    &::before {
        content: "";
        background: rgb(255, 0, 238);
        height: 3px;
        position: absolute;
        top: 56%;
        left: 5%;

        width: 30%;


    }
}

/* .content{
    width: 300px;
    /* height: auto; */

.champ{
    display: flex;
    justify-content: space-between;
    padding: 5.5rem;
    background: black;
}

.france{
    padding: 20px;
    color: rgb(255, 0, 238); 
    font-size: 1.3rem;
    
}

.champ h1 span{
    color:  rgb(255, 0, 238); 
}

.champ h1{
    color: white;
}

.champ h2{
    color: white;
}
